@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext);
@import "reset.scss";
@import "grid.scss";

$strana: 80px;

body {
	font-family: sans-serif;
}
#sachovnice {
	@include column(8);
	border: 1px solid black;
}
.radek {
	@include row(8);
	.bunka {
		@include column(1);
		height: $strana;
		line-height: $strana;
		vertical-align: middle;
		text-align: center;
		font-size: 400%;
	}
}

.radek:nth-child(odd) {
	.bunka:nth-child(even) {
		color: white;
		background-color: black;
	}
}
.radek:nth-child(even) {
	.bunka:nth-child(odd) {
		color: white;
		background-color: black;
	}
}
