@import "reset.css";

@mixin white-bottom-line {
  content: attr(data-description);
  display: block;
  position: absolute;
  bottom: 0;
  background-color: rgba(white, 0.5);
  padding: 5px;
  vertical-align: top;
  max-width: 100%;
  text-overflow: clip;
  left: 0;
  right: 0;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  width: 100%;
}

.select {
  margin: 30px 0;
  text-align: center;
  select {
    padding: 5px;
  }

}

h1.title {
  position: fixed;
  left: 0;
  bottom: 50%;
  font-size: 40px;
  transform: rotate(-90deg);
  transform-origin: top left;
}

ul.photos {
  margin-left: 40px;
  li {
    position: relative;
    display: inline-block;
    &:not(:first-child) {
      margin-left: 3px;
    }
    &[data-description]:hover::after {
      @include white-bottom-line;
    }
  }
  padding-left: 40px;
  img {
    max-height: 200px;
    position: relative;
  }
}

.detail {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(black, 0.5);
  h2 {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    left: 0;
    right: 0;
    font-size: 40px;
    text-shadow: 0 0 3px black;
  }
  img {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
  }
}