{block content}
<a n:href="default $prev" class="left">předchozí den</a>
|
<a n:href="Homepage:default">zpět na přehled</a>
|
<a n:href="default $next" class="left">následující den</a>  
	<h1>{$day[0]}</h1>
	<p>{$day[1]}</p>
{/block}